 body { 
  background: #ffff99 !important; 
}

/* NAVIGATION */


.navbar {

    background: transparent;
    display: block;
    position: fixed;
    width: 100%;
    z-index: 99999;
    transition: all ease .5s;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    border: none;
    padding: 0 100px 0 10px;

}

.navbar-brand {
  font-size: 50px;
}

.navbar a {

    color: #000000 !important;
    opacity: 0.7;
}


.navbar a:hover {

    opacity: 1;
    background-color: transparent !important;

}

.navbar li {

    list-style: none;
    display: inline-block;

}

/* HEADER */

.header {

text-align: center;

}

.header .about-btn button {

      padding: 0 30px;
      color: #fff;
      text-align: center;
      font-size: 11px;
      font-weight: 600;
      line-height: 38px;
      letter-spacing: .1rem;
      text-transform: uppercase;
      text-decoration: none;
      white-space: nowrap;
      background-color: blue; /*change this color to what you think works best*/
      border-radius: 4px;
      border: 1px solid #ffffff;
      cursor: pointer;
      position: absolute;
      /*change these two to what values you think looks best - preferably centered*/
      top: 135px;
      left: 650px;
      margin-left: 20px;

}

.header .about-btn button:hover {

  background-color: #00FFFF;
  border: 1px solid #FFFFFF;
}

/* DIASPORA */

.diaspora {

border: 2px solid blue;
 background-color: #ccccff;
margin-left: 350px;
margin-right: 350px;

}

/* ABOUT HEADER  */

.about-header {

text-align: center;

}

.fiyin {
  border: 2px solid blue;
  background-color: #ccccff;
margin-left: 350px;
margin-right: 350px;
margin-bottom: 25px;
}

.ola {
   border: 2px solid blue;
   background-color: #ccccff;
margin-left: 350px;
margin-right: 350px;
margin-bottom: 25px;
}

.prosper {
   border: 2px solid blue;
   background-color: #ccccff;
margin-left: 350px;
margin-right: 350px;
margin-bottom: 25px;
}

.patrice {
   border: 2px solid blue;
   background-color: #ccccff;
margin-left: 350px;
margin-right: 350px;
}